@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  height: 100vh;

  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

.card {
  height: 300px;
  width: 300px;
  background-color: rgba(234, 234, 239, 0.895);
  border-radius: 20px;
  padding: 20px;
  color: rgb(11, 11, 11);
  text-align: center;
  box-shadow: 0px 5px 10px;
  transition: all ease 0.5s;
  overflow: hidden;
}
span {
  font-weight: 500;
}
p {
  color: gray;
}

.card:hover {
  height: 500px;
  width: 350px;
}


.card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

button {
  background-color: rgb(62, 62, 206);
  color: white;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 50px;
  font-weight: bolder;
  font-size: medium;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}
